.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
}
.Logo img {
  height: 100px;
}
.Header_links {
  height: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.links {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  margin: 0px 10px;
  position: relative;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.links:hover {
  transform: scale(1.05);
  text-shadow: 1px 1px rgba(170, 170, 170, 0.8);
}
.links::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  /* background-color: rgb(104, 219, 104); */
  background-color: #4e8937;
  transition: width 0.1s cubic-bezier(0.25, 1, 0.5, 1);
}
.Header_links ul {
  display: flex;
  height: 100%;
  align-items: center;
}
.Header_links_sub {
  list-style: none;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.subHeader {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #4e8937;
  z-index: 2;
  width: 200px;
  opacity: 0;
  top: 100%;
  left: 0;
}
#about:hover ~ .subHeader {
  opacity: 1;
}
.subHeader_link {
  list-style-type: none;
  overflow: hidden;
  display: none;
}
.subHeader_link a {
  text-decoration: none;
  color: black;
}
@media (hover: hover) {
  .links:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
